@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: white;
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: auto;
    max-width: 1200px;
    padding: 2.25%; /* 18px / 800px */
    width: 100%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
  
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
    color: black;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: rgba(255, 255, 255, 0.5);
    float: right;
    padding: 2.08333333333%;
    width: 30%;
    margin-top: 309px;
  }

  .sidebarss {
    background: rgba(255, 255, 255, 0.25);
    float: right;
    padding: 2.08333333333%;
    width: 30%;
    margin-top: 440px;
  }

  .sidebarsss {
    background: rgba(255, 255, 255, 0.2);
    float: right;
    padding: 2.08333333333%;
    width: 30%;
    margin-top: 269px;
  }
  .sidebar-index {
    background: rgba(255, 255, 255, 0.2);
    float: right;
    padding: 2.08333333333%;
    width: 30%;
    margin-top: 389px;
}
.sidebar-show {
  background: rgba(255, 255, 255, 0.2);
  float: right;
  padding: 2.08333333333%;
  width: 30%;
  margin-top: 409px;
}

.sidebar-user-show {
  background: rgba(255, 255, 255, 0.2);
  float: right;
  padding: 2.08333333333%;
  width: 30%;
  margin-top: 429px;
}

  .sidebar ul {
    font-size: 14px;
  }

  .main-image{
    width:  100%
  }


  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid white;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto100;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }

}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

.relative {

  position: relative;
}

.absolute {
  position: absolute;
}

.white {
  color: white;
}

.heading-overlay {
  top: 2rem;
  right: 2rem;
}

.heading-overlay2 {
  top: 2rem;
  left: 2rem;
}

.heading-overlay3 {
  top: 6rem;
  right: 10rem;
}

.heading-overlay4 {
  top: 4rem;
  left: 10rem;
}

.heading-overlay5 {
  bottom: 2rem;
  left: 2rem;
}

.heading-overlay6 {
  top: 6rem;
  right: 3rem;
}

.heading-overlay7 {
  top: 11rem;
  left: 12rem;
}

.heading-overlay8 {
  bottom: 2rem;
  left: 6rem;
}

.heading-overlay9 {
  top: 2rem;
  left: 6rem;
}

.heading-overlay10 {
  bottom: 12rem;
  left: 6rem;
}

.heading-overlay12 {
  top: 8rem;
  left: 12rem;
}

.heading-overlay13 {
  top: 26rem;
  left: 32rem;
}

.black {
  color: black;
}

.red {
  color: red;
}

.grey {
  color: rgb(81, 81, 82);
}

.mountain-bg{
  background: url("../images/greg-rakozy-oMpAz-DN-9I-unsplash.jpg") no-repeat right top;
  height: 650px;
  background-size: cover;
}
.mountain2-bg{
  background: url("../images/hans-eiskonen-wn57cSQ7VzI-unsplash.jpg") no-repeat right top;
  height: 600px;
  background-size: cover;
}

.login-bg{
  background: url("../images/chris-liverani-dBI_My696Rk-unsplash.jpg") no-repeat right top;
  height: 700px;
  background-size: cover;
}

.welcome-bg{
  background: url("../images/nasa--hI5dX2ObAs-unsplash.jpg") no-repeat right top;
  height: 800px;
  background-size: cover;
}


.coin-display {
  margin-bottom: 2rem;
}

.small-text{
  font-size: .75rem;
  color: white
}

.coin-details-bg{
  background: url("../images/andre-francois-mckenzie-Q4W8GjjKjuw-unsplash.jpg") no-repeat right top;
  height: 650px;
  background-size: cover;
}

