
<div class="container">
<header class="relative">
  <img src="images/chris-liverani-dBI_My696Rk-unsplash.jpg" class="img-responsive main-image">
  <h1 class="white absolute heading-overlay">Crypto Investments</h1>

  <h3 class="black absolute heading-overlay2">Log In
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Login">
       <br><h6><a href="/signup" class="black" >Become a member </a></h6>
    </form>
  </h3>
</div>

  
