
<div class="container">
<header class="relative">
  <img src="images/andre-francois-mckenzie-JrjhtBJ-pGU-unsplash.jpg" class="img-responsive main-image">
  <h1 class="white absolute heading-overlay">Crypto Investments</h1>

  <h3 class="white absolute heading-overlay3">Sign Up
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input type="submit" value="Sign Up">
      <br><h6><a href="/login"class="white">Already a member? Login </a></h6>
    </form>

    <div>
    <p>
      <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
      <div class="flash <%= kind %>">
        <%= flash[kind] %>
      </div>
      <% end %>
    </p>
  </div>
  </h3>
</div>



