<div class="container">
  <header class="relative">
    <img src="images/joshua-sortino-LqKhnDzSF-8-unsplash.jpg" class="img-responsive main-image">
    <h1 class="white absolute heading-overlay">Crypto Investments</h1>
    <h3 class="white absolute heading-overlay3"><a class="white" href="/login">LOG BACK IN</a></h3>
  </header>

  <div  class= "black absolute heading-overlay13">
    <h2>Thank you for using Crypto Investments!</h2>
  </div> 
</div>