
<div class="container">
  <header class="relative">
    <img src="images/chris-liverani-dBI_My696Rk-unsplash.jpg" class="img-responsive main-image">
    <h1 class="white absolute heading-overlay">Crypto Investments</h1>
    <h4 class="white absolute heading-overlay2"><a href="/login">Log In</a></h4>
</div>
