
<div class="container">
  <header class="relative welcome-bg">
    <h1 class="white absolute heading-overlay">Crypto Investments</h1>
    <h2 class="white absolute heading-overlay6">Welcome to my project!</h2>

    <div  class= "white absolute heading-overlay14">
      <h2>What is Crypto Investments?
        <h3> Crypto Investments is a Sinatra Application that is designed to manage cryptocurrency coins.
        Users are able to become members by completing a sign up form. Once signed up, users have 
        the ability to create new coins and keep track of their average price paid per coin as more coins 
        are either bought or sold over time. Users have full CRUD functionality (Create,Read,Update,Delete) 
        over their coins as well as their user profiles.
        </h3>
      </h2>
      <li><b><br><a href="/login"class="white">Log In</a><span class= "red"> or </span><a href="/signup" class="white" >Become a member </a> 
    </div> 
  </header>
</div>
