
<div class="container">
  <header class="relative welcome-bg">
    <h1 class="white absolute heading-overlay">Crypto Investments</h1>
    <h2 class="black absolute heading-overlay6">Welcome to my project!</h2>
  </header>

    <div  class= "black absolute heading-overlay13">
        <h2>What is Crypto Investments?
          <p> Crypto Investments is a Sinatra Application that is designed to manage cryptocurrency coin objects.
          Users are able to become members by completing a sign up form. 
          
          </p>
        </h2>
      
      <li><b><br><a href="/login"class="black">Log In</a><span class= "white"> or </span><a href="/signup" class="black" >Become a member </a> 
    </div> 



</div>
