<div class="container">
<header class="relative mountain-bg">

  <h1 class="black absolute heading-overlay">Crypto Investments</h1>
  <h2 class="red absolute heading-overlay6">Create A New Investment</h2>

    <h3 class="black absolute heading-overlay4">
        <form action= '/coins' method= "post">
            <label>Coin Name<label><br>
            <input type = "text" name = "name"id = "name">
            <br><label>Coin Symbol<label><br>
            <input type = "text" name = "symbol"id = "symbol">
            <br><label>Coin Quantity<label><br>
            <input type = "text" name = "quantity"id = "quantity">
            <br><label>Cost<label><br>
            <input type = "text" name = "amount_invested"id = "amount_invested"><br>
            <br><input type= submit value= "CREATE" class="red bold">
        </form>
   </h3>

  <div class="sidebar">
    <h3 class=absolute heading-overlay>Links</h3><br>
      <li><b><br><a href="/logout" class="grey" >Log Out</a><br></li>
      <li><b><br><a href="/coins" class="grey" >All Crypto Investments</a><br></li>
  </div> 
</div>
